* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: dodgerblue;
  color: #000;
}

.productlist {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}
.product {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}
.avatar {
  width: 70%;
  height: 250px;
  text-align: center;
}
.price,
.title {
  text-align: center;
  font-size: 1.1rem;
}
.number{
  position: absolute;
  top: 0;
  left: 0;
  padding: .8rem;
  font-size: 1rem;
  color: #fff;
  background-color: orange;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (max-width: 768px) {
  .productlist {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 540px) {
  .productlist {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 540px) {
  .productlist {
    grid-template-columns: auto;
  }
}
